<ion-header>
  <ion-toolbar color="success">
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-title align="center">Nutrición y Control</ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="irA('tab1')" color="success">
                <ion-icon slot="icon-only" name="home"></ion-icon>
              </ion-button>
            </ion-col>
    
            <ion-col>
              <ion-button (click)="irA('tab2')" color="success">
                <ion-icon slot="icon-only" name="pulse"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="irA('tab3')" color="success">
                <ion-icon slot="icon-only" name="contacts"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>

  <ion-item>
    <ion-img src="/assets/img/portada.jpg"></ion-img>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="success" align="center">Sobrepeso y la Obesidad</ion-label>
  </ion-item>

  <ion-list lines="none">
    <ion-item>
      <ion-textarea readonly="true" color="dark">El sobrepeso y la obesidad se definen como una acumulación
        anormal o excesiva de grasa que puede ser perjudicial para la salud.
        El índice de masa corporal (IMC) es un indicador simple de la relación
        entre el peso y la talla que se utiliza frecuentemente para identificar
        el sobrepeso y la obesidad en los adultos.</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-img src="/assets/img/nutricion1.jpg"></ion-img>
    </ion-item>
    <ion-button expand="block" fill="outline" (click)="irA('tab2')">Contrólate
      <ion-icon slot="icon-only" name="pulse"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>