<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Salud Integral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
      <ion-img src="/assets/img/portada.jpg"></ion-img>
  </ion-item>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Asistente para controlar tu peso</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item >
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Contrólate</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
</ion-content>