<ion-header>
  <ion-toolbar color="success">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title align="center">Acerca de Nosotros</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="irA('tab1')" color="success">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button (click)="irA('tab2')" color="success">
            <ion-icon slot="icon-only" name="pulse"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="irA('tab3')" color="success">
            <ion-icon slot="icon-only" name="contacts"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/nosotros2.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle align="center"><h3>Equipo:</h3></ion-card-subtitle>
      <ion-card-title align="center">
        <ion-icon name="logo-angular"></ion-icon>
        PappAS
        <ion-icon name="logo-android"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label align="center">
              <h2><strong>Ingeniería en Informática</strong></h2>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <h2>Alumnos:</h2>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>- Oscar Labra</p>
            <p>- César Muñoz</p>
            <p>- Patricio Díaz</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <h2>Profesor:</h2>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Germán Riveros</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>