<ion-header>
  <ion-toolbar color="success">
    <ion-title align="center">Acerca de Nosotros</ion-title>
    <ion-button (click)="irA('tab1')" color="success">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>

    <ion-button (click)="irA('tab2')" color="success">
      <ion-icon slot="icon-only" name="pulse"></ion-icon>
    </ion-button>

    <ion-button (click)="irA('tab3')" color="success">
      <ion-icon slot="icon-only" name="contacts"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/nosotros2.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>PappAS</ion-card-title>
      <p>Ingeniería en Informática</p>
    </ion-card-header>
    <ion-card-content>
      <h2>Alumnos: </h2>
      <p>- Oscar Labra</p>
      <p>- César Muñoz</p>
      <p>- Patricio Díaz</p>
    </ion-card-content>
    <ion-card-content>
      <h2>Profesor: </h2>
      <p>Germán Riveros</p>
    </ion-card-content>
  </ion-card>
</ion-content>