<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/chungungo.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Equipo</ion-card-subtitle>
      <ion-card-title>PappAS</ion-card-title>
      <p>Ingeniería en Informática</p>
    </ion-card-header>
    <ion-card-content>
      <h2>Alumnos: </h2>
      <p>- Oscar Labra</p>
      <p>- César Muñoz</p>
      <p>- Patricio Díaz</p>
    </ion-card-content>
    <ion-card-content>
      <h2>Profesor: </h2>
      <p>Germán Riveros</p>
    </ion-card-content>
  </ion-card>
</ion-content>