<ion-header>
  <ion-toolbar color="success">
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-title align="center">Resultados</ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="irA('tab1')" color="success">
                <ion-icon slot="icon-only" name="home"></ion-icon>
              </ion-button>
            </ion-col>
    
            <ion-col>
              <ion-button (click)="irA('tab2')" color="success">
                <ion-icon slot="icon-only" name="pulse"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="irA('tab3')" color="success">
                <ion-icon slot="icon-only" name="contacts"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="cargando">

  <ion-item *ngIf="verIMC">
    <ion-grid>
      <ion-col>
          <ion-label align="center" color="success"><ion-icon name="body" color="dark"></ion-icon>
            Índice de masa corporal: {{imc}}</ion-label>
      </ion-col>
    </ion-grid>
     
  </ion-item>

  <ion-item *ngIf="verIMC">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="esbajo">
            <ion-label color="medium">estás</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="tertiary">
            <ion-input value="Bajo" readonly="true" align="center"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item *ngIf="esnormal">
            <ion-label color="medium">estás</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="success">
            <ion-input value="Normal" readonly="true" align="center"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item *ngIf="essobrepeso">
            <ion-label color="medium">estás</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="warning">
            <ion-input value="Sobrepeso" readonly="true" align="center"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item *ngIf="esobesidad">
            <ion-label color="medium">tienes</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="danger">
            <ion-input value="Obesidad" readonly="true" align="center"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-item>

  <ion-item *ngIf="verPesoIdeal">
    <ion-label align="center" color="success"><ion-icon name="man" color="dark"></ion-icon>
      Peso Ideal: {{peso}} Kg.</ion-label>
  </ion-item>


  <ion-item *ngIf="verCalorias">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label align="center" color="success"><ion-icon name="battery-full" color="dark"></ion-icon>
            Calorías diarias a gastar: {{calorias}} Cal.</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item *ngIf="verIMC" color="light">
    <ion-grid>
      <ion-row>
        <ion-col>
        <ion-label color="medium">Nota:</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-textarea color="tertiary" *ngIf="esbajo" readonly="true">Estás bajo tu peso ideal. Trata de consumir
          alimentos que te
          aporten nutrientes y
          energía , además, no olvides desayunar, almorzar y cenar todos los días, así tu cuerpo estará mucho más sano y
          evitarás enfermedades.</ion-textarea>
        <ion-textarea color="success" *ngIf="esnormal" readonly="true">Tienes el peso ideal. ¡Felicitaciones! Recuerda
          que una
          alimentación equilibrada
          y la práctica periódica de ejercicio físico te ayudarán a mantener un estado nutricional correcto.
        </ion-textarea>
        <ion-textarea color="warning" *ngIf="essobrepeso" readonly="true">Estás por sobre tu peso ideal. Evita los
          alimentos altos en
          grasa y azúcar y
          trata de optar por las verduras y frutas. Además, organiza tu tiempo y dedica, al menos 3 días a la semana,
          unas horas al ejercicio físico.</ion-textarea>
        <ion-textarea color="danger" *ngIf="esobesidad" readonly="true">Cuidado, la obesidad genera complicaciones
          mayores en el
          organismo y acorta la
          vida. Es esencial abordar este estado con una dieta balanceada, ejercicio y, en determinadas ocasiones, con
          cirugía.</ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-label color="medium">¿Te gusta la aplicacion?</ion-label>
    <ion-icon name="happy"></ion-icon>
    <ion-toggle [(ngModel)]='evaluar' (ionChange)="evaluarApp(evaluar)"></ion-toggle>
  </ion-item>

  <ion-button expand="full" fill="outline" (click)="irA('tab2')">
      <ion-icon name="undo"></ion-icon>
    volver a calcular</ion-button>

</ion-content>

